{% extends 'modeler/master.html' %}

{% block content %}
        
    <h1>{{llm}}</h1>
    <button class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#diagramFormModal">New diagram</button>
    <div class="modal fade" id="diagramFormModal" tabindex="-1" aria-labelledby="diagramFormModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="diagramFormModalLabel">Select a title for the diagram</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    <div>
                        <label for="diagram-title" class="form-label">Diagram name</label>
                        <input type="text" name="title" id="diagram-title" class="form-control">
                        <div id="titleHelpBlock" class="form-text">If no value is prompted, default value will be "Untitled diagram"</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Continue</button>
                    </div>
                </form>
            </div>
          </div>
        </div>
    </div>
    <a href="{% url 'modeler:profile_diagrams' %}" class="m-1">
        <button class="btn btn-primary">Open diagram</button>
    </a>
    

{% endblock %}