{% extends 'modeler/master.html' %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.1/backbone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jointjs/3.7.7/joint.js"></script>
{% endblock %}

{% block content %}

    
    <div id="graphDiv">
    </div>

    <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.mjs';
        mermaid.initialize({ startOnLoad: false });
    
        // Example of using the render function
        const drawDiagram = async function () {
            let element = document.querySelector('#graphDiv');
            const graphDefinition = 'graph TB\na-->b';
            const { svg } = await mermaid.render('graphDiv', graphDefinition);
            element.innerHTML = svg;
            document.body.appendChild(element);
        };

    
        await drawDiagram();
    </script>

{% endblock %}