{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ModelER</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'modeler/images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'modeler/stylesheet.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://kit.fontawesome.com/902453c4f7.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
    <script src="{% static 'modeler/login.js' %}" type="module"></script>
    {% block head %}
    {% endblock %}
</head>
<body>

    <div class="header">
        <div class="nav-container">
            <a href="{% url 'modeler:index' %}" class="flex logo-link">
                <img src="{% static 'modeler/images/logo.png' %}" alt="logo">
                <div class="flex flex-center">
                    <h1 id="logo-txt">ModelER</h1>
                </div>
            </a>
            <div class="flex">
                
                <div class="dropdown">
                    <div class="btn profile-btn">
                        {% if user.is_authenticated %}
                            <i id="profile-icon" class="fa-solid fa-user fa-2xl"></i>
                        {% else %}
                            <i id="profile-icon" class="fa-regular fa-user fa-2xl"></i>
                        {% endif %}
                    </div>
                    <div class="dropdown-content">
                        {% if user.is_authenticated %}
                            <a href="{% url 'modeler:profile' %}" class="drop-item bold">{{ user }}</a>
                            <form action="{% url 'users:logout' %}?next={{request.path}}" method="post" id="log-out-form">
                                {% csrf_token %}
                                <a class="drop-item" id="log-out">Log Out</a>
                            </form>
                        {% else %}
                            <a href="{% url 'users:login' %}?next={{request.path}}" class="drop-item">Log in</a>
                            <a href="{% url 'users:signup' %}?next={{request.path}}" class="drop-item">Sign up</a>
                        {% endif %}
                    </div>
                </div>
                <span class="material-symbols-outlined nav-bar">
                    menu
                </span>
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}

</body>
</html>
