{% extends 'modeler/master.html' %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.1/backbone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jointjs/3.7.7/joint.js"></script>
{% endblock %}

{% block content %}
        
    <div class="grid grid-1-2 diagram">

        <div id="paper" class="flex flex-center">

            <div class="flex flex-center" id="loader">
                <div class="loader"></div>
            </div>

        </div>

        <div class="chat-container grid grid-2-1">
            <div class="messages-chat" id="chat">
                <div class="message">
                    <p class="text">Hi, I am here to help you model your E/R Diagram!</p>
                </div>
            </div>

            <div class="flex acenter chat-input">
                <form id="promptForm" action="{% url 'modeler:model' %}" method="post" data-post-url="{% url 'modeler:model' %}">
                    {% csrf_token %}
                    <div class="flex flex-center jaround">
                        <div class="fieldWrapper">
                            {{ form.prompt.errors }}
                            {{ form.prompt }}
                        </div>
                        <button class="btn send-btn" type="submit">
                            <i id="send-icon" class="fa-solid fa-arrow-up-long fa-xl"></i>
                            <span class="tooltiptext">Send text</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% load static %}
    <script src="{% static 'modeler/ajax.js' %}"></script>
    {% load static %}
    <script src="{% static 'modeler/form.js' %}"></script>


{% endblock %}