{% extends 'modeler/master.html' %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.1/backbone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jointjs/3.7.7/joint.js"></script>
{% endblock %}

{% block content %}
        
    <div class="grid model-grid">

        <div class="diagram grid">
            <div class="tab">
                <button class="tablink btn tab-btn" id="defaultOpen" onclick="openDiagram('jointjs', 0)">
                    <span>JointJS</span>
                </button>
                <button class="tablink btn tab-btn" onclick="openDiagram('mermaid', 1)">
                    <span>Mermaid</span>
                </button>
                <button class="tablink btn tab-btn" onclick="openDiagram('plantuml', 2)">
                    <span>PlantUml</span>
                </button>
                <button class="btn download-btn">
                    <i class="fa-solid fa-download fa-2xl"></i>
                </button>
    
                <div class="slide" id="slide"></div>
            </div>

            <div id="jointjs" class="tab-content">
                <div id="paper" class="flex flex-center">

                    <div>Write your prompt to start modeling!</div>

                    <div class="flex flex-center" id="loader">
                        <div class="loader"></div>
                    </div>
    
                </div>
            </div>

            <div id="mermaid" class="tab-content">
                <pre class="mermaid" id="merm-graph"></pre>
            </div>

            <div id="plantuml" class="tab-content">
            </div>
        </div>


        <div class="messages-chat" id="chat">
            <div class="message">
                <p class="text">Hi, I am here to help you model your E/R Diagram!</p>
            </div>
        </div>

        <div class="flex acenter chat-input">
            <form id="promptForm" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="flex flex-center jaround">
                    <div class="fieldWrapper">
                        {{ form.prompt.errors }}
                        {{ form.prompt }}
                    </div>
                    <button class="btn send-btn" type="submit">
                        <i id="send-icon" class="fa-solid fa-arrow-up-long fa-xl"></i>
                        <span class="tooltiptext">Send text</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    {% load static %}
    <script src="{% static 'modeler/form.js' %}" type="module"></script>

    {% load static %}
    <script src="{% static 'modeler/joint.js' %}" type="module"></script>

    {% load static %}
    <script src="{% static 'modeler/mermaid.js' %}" type="module"></script>

    {% load static %}
    <script src="{% static 'modeler/plantUml.js' %}" type="module"></script>

    <script>
        function openDiagram(pageName, index) {
          var i, tabcontent, tablinks, slide;
          tabcontent = document.getElementsByClassName("tab-content");
          slide = document.getElementById("slide");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablink");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
          }
          document.getElementById(pageName).style.display = "block";
          let left = 30 * index;
          slide.style.left = left.toString() + '%';
        }
        
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>


{% endblock %}