{% extends 'modeler/master.html' %}

{% block head %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'modeler/profile.css' %}">

    {% load static %}
    <script src="{% static 'modeler/module.js' %}"></script>

{% endblock %}

{% block content %}
        
    <div class="grid profile-grid">
        <div class="flex flex-column" id="profile-left">
            <div class="flex flex-column acenter" id="user-main">
                <div class="user-avatar" style="background-color: antiquewhite;"></div>
                <div class="spacer-16"></div>
                <span class="bold" id="user-name">{{user}}</span>
                <span>{{user.email}}</span>
            </div>
            <div class="profile-tabs">
                <a href="{% url 'modeler:profile' 'general' %}" class="profile-tab tab {{active.pop}}">General information</a>
                <a href="{% url 'modeler:profile' 'settings' %}" class="profile-tab tab {{active.pop}}">User settings</a>
                <a href="{% url 'modeler:profile' 'diagrams' %}" class="profile-tab tab {{active.pop}}">Diagrams</a>
                <a href="{% url 'modeler:profile' 'tokens' %}" class="profile-tab tab {{active.pop}}">Tokens</a>
            </div>
        </div>
        <div>
            {% if section == 'general' %}
                <div id="gen-info" class="profile-tab-content tab-content">
                    <h2>General information</h2>
                    <div class="flex wrap card-container">
                        <div class="gen-card">
                            <div>User settings</div>
                            <h3>User information</h3>
                            <div>You can edit your name, email address, account password and language.</div>
                            <div class="gen-grid">
                                <div class="line"></div>
                                <span class="grid-sec">NOMBRE</span><span>{{ user }}</span>
                                <div class="line"></div>
                                <span class="grid-sec">EMAIL</span><span>{{ user.email }}</span>
                                <div class="line"></div>
                                <span class="grid-sec">PASSWORD</span><span>*************</span>
                                <div class="line"></div>
                            </div>
                            <button class="card-btn" onclick="openTab('user-setting')">See more on User settings</button>
                        </div>
                    </div>
                </div>

            {% elif section == 'settings' %}
              
                <div id="user-setting" class="profile-tab-content tab-content">
                    <h3>User settings</h3>
                </div>
            
            {% elif section == 'diagrams' %}
              
                <div id="diagrams" class="profile-tab-content tab-content">
                    <h3>Diagramas</h3>
                </div>

            {% elif section == 'tokens' %}

                <div id="tokens" class="profile-tab-content tab-content">
                    <h3>Tokens</h3>
                </div>
            
            {% endif %}
            
        </div>
    </div>

{% endblock %}