/*@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');*/

.login-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.screen-1 {
	background: hsl(212deg, 85%, 97%);
	padding: 2em;
	display: flex;
	flex-direction: column;
	border-radius: 30px;
	box-shadow: 0 0 2em hsl(231deg 62% 94%);
	gap: 2em;
	width: 20vw;
}
.screen-1 .logo {
	width: 100%;
	margin-bottom: 30px;
}

.screen-1 .logo img {
	width: 150px;
	height: 150px;
}

.screen-1 i {
	padding: 2px;
	margin-right: 5px;
}

.screen-1 .username, .screen-1 .email, .screen-1 .password1, .screen-1 .password2 {
	background: hsl(0deg 0% 100%);
	box-shadow: 0 0 2em hsl(231deg 62% 94%);
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	border-radius: 20px;
	color: hsl(0deg 0% 30%);
}
.screen-1 .username input, .screen-1 .email input {
	width: 100%;
}
.screen-1 .username input::placeholder, .screen-1 .email input::placeholder {
	color: hsl(0, 0%, 64%);
	font-size: 1.2em;
}
.screen-1 * input {
	outline: none;
	border: none;
}
.screen-1 .password1 input::placeholder, .screen-1 .password2 input::placeholder {
	color: hsl(0, 0%, 64%);
	font-size: 2em;
}
.screen-1 .password1 .show-hide, .screen-1 .password2 .show-hide {
	float: right;
}
.screen-1 .login-btn {
	padding: 1em;
	background: hsl(233deg 36% 38%);
	color: hsl(0deg 0% 100%);
	border: none;
	border-radius: 30px;
	font-weight: 600;
	font-size: 16px;
}
.screen-1 .footer {
	display: flex;
	font-size: 0.7em;
	color: hsl(0deg 0% 37%);
	gap: 14em;
	padding-bottom: 10em;
}
.screen-1 .login-footer span {
	cursor: pointer;
}
