@font-face {
    font-family: Barlow;
    src: url("fonts/Barlow-Regular.ttf");
}

@font-face {
    font-family: Barlow-Bold;
    src: url("fonts/Barlow-Bold.ttf");
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Barlow;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.jcenter {
    justify-content: center;
}

.jeven {
    justify-content: space-evenly;
}

.jbetween {
    justify-content: space-between;
}

.jaround {
    justify-content: space-around;
}

.acenter {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-item-left {
    flex: 50%;
}
  
.flex-item-right {
    flex: 50%;
}

#logo-txt {
    color: rgb(0, 0, 0);
    text-decoration: none;
    float: right;
}

.btn {
    background-color: #94007b;
    color: white;
    font-family: Barlow-Bold;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s;
}

.btn[disabled] {
    background-color: rgb(158, 158, 158);
    cursor: default;
}

.btn:hover {
    opacity: .75;
}

.nav-btn {
    padding: 10px 16px;
    font-size: 16px;
}

.download-btn {
    height: 100%;
    width: 48px;
    background-color: white;
    color: #94007b;
    float: right;
}

.profile-btn {
    background-color: transparent;
}

#profile-icon {
    color: #94007b;
}

.tab-btn {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    transition: color 0.2s ease;
    padding: 10px 16px;
    width: 30%;
    height: 100%;
    border-radius: 0;
    float: left;
}

.slide {
    background: #94007b;
    width: 30%;
    height: 4px;
    position: absolute;
    left: 0;
    top: calc(100% - 4px);
    transition: left 0.3s ease-out;
}

.nav-container {
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: lightgray solid 1px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content div,  .dropdown-content form{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content div:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-bar {
    display: none !important
}

.user-div {
    margin: 0 calc(40px - (100vw - 100%)) 0 20px;
}

.intro {
    position: relative;
    width: 100%;
    min-height: 90vh;
}

.pageholder {
    color: rgb(0, 0, 0);
    position: relative;
    padding: 80px 8vw;
}

.text_area {
    padding: 8vh 0;
}

.text_area a {
    display: block;
}

.heading {
    font-size: 42pt;
    text-align: left;
}

.subheading {
    padding: 30px 0;
    font-size: 16pt;
    text-align: left;
}

.spacer-16 {
    height: 16px;
    width: 16px;
    background-color: rgba(0, 0, 0, 0);
    flex: none;
}

.spacer-32 {
    height: 32px;
    width: 32px;
    background-color: rgba(0, 0, 0, 0);
    flex: none;
}

.spacer-48 {
    height: 48px;
    width: 48px;
    background-color: rgba(0, 0, 0, 0);
    flex: none;
}

.spacer-64 {
    height: 64px;
    width: 64px;
    background-color: rgba(0, 0, 0, 0);
    flex: none;
}

.spacer-96 {
    height: 96px;
    width: 96px;
    background-color: rgba(0, 0, 0, 0);
    flex: none;
}

.page-btn {
    padding: 16px;
    font-size: 18pt;
}

#intro-img {
    width: 475px;
    border-radius: 8px;
}

.divider {
    width: 80vw;
    border-bottom: solid lightgray 2px;
}

.serv-item {
    width: 30%;
    min-width: 300px;
    padding: 20px 0;
}

.serv-img {
    width: 100%;
    border-radius: 12px;
}

h2 {
    padding: 12px 0;
}

.banner {
    height: 30vh;
}

.top-banner {
    background-color: #94007b;
}

.title-banner {
    font-size: 26pt;
}

.text-banner {
    font-size: 16pt;
}

.img-banner {
    width: 100%;
    min-height: 96px;
}
/*ponerla como fondo no como imagen*/

.footer {
    height: 30vh;
    padding: 10vh 6vw;
}

.footer-title {
    font-size: 32px;
}

.chat-input {
    border-top: solid 1px gray;
}

textarea {
    resize: none;
    padding: 14px;
    font-size: 12pt;
    max-width: 90vw;
    border-radius: 4px;
}

#promptForm {
    width: 100%;
    margin: 0 20px;
}

.send-btn {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 12px;
}

.send-btn .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -40px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.send-btn .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #383838 transparent transparent transparent;
}
  
.send-btn:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*
.rad-label{
    display: flex;
    align-items: center;
  
    border-radius: 100px;
    padding: 14px 16px;
    margin: 10px 0;
  
    cursor: pointer;
    transition: .3s;
}
  
.rad-label:hover,
.rad-label:focus-within {
    background: hsla(0, 0%, 80%, .14);
}

.rad-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
}
  
.rad-design {
    width: 22px;
    height: 22px;
    border-radius: 100px;
  
    background: linear-gradient(to right bottom, hsl(184, 97%, 62%), #94007b);
    position: relative;
}
  
.rad-design::before {
    content: '';
  
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
  
    background: hsl(0, 0%, 90%);
    transform: scale(1.1);
    transition: .3s;
}
  
.rad-input:checked+.rad-design::before {
    transform: scale(0);
}
  
.rad-text {
    color: hsl(0, 0%, 60%);
    margin-left: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
  
    transition: .3s;
}
  
.rad-input:checked~.rad-text {
    color: hsl(0, 0%, 40%);
}*/

.grid {
    display: grid;
}

.model-grid {
    height: calc(100vh - 85px); /*esto no me termina de convencer*/
    max-width: 100vw;
    grid-template-columns: 65% 35%;
    grid-template-rows: 90% 10%;
}

.diagram {
    grid-column: 1;
    grid-row: 1 / span 2;
    grid-template-rows: 5% 95%;
}

.tab {
    position: relative;
}

.tab-content {
    height: 100%;
}

#loader {
    visibility: hidden;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #000 #000 transparent transparent;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
}

.loader::after,
.loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #94007b #94007b;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 1s linear infinite;
    transform-origin: center center;
}

.loader::before {
    width: 32px;
    height: 32px;
    border-color: hsl(184, 62%, 43%) hsl(184, 62%, 43%) transparent transparent;
    animation: rotation 2.5s linear infinite;
}

#paper {
    width: 100% !important;
    height: 100% !important;
    /*max-width: 60vw;*/
    /*display: block;*/
    border: 0;
    text-align: center;
}
#paper>svg {
    overflow: visible !important;
}
.connection,
.connection-wrap {
    stroke: #ccc0ef;
}

#mermaid, #plantuml, #jointjs {
    background-color: #eeeeee;
}

.messages-chat {
    padding: 10px 0;
    grid-column: 2;
    grid-row: 1 / span 1;
}

.messages-chat .message {
    display:flex;
    align-items: center;
    margin-bottom: 8px;
}

.messages-chat .text {
    margin: 0 35px;
    background-color: #d6d6d6;
    padding: 15px;
    border-radius: 12px;
}

.response {
    float: right;
    margin-right: 0px !important;
    margin-left:auto; /* flexbox alignment rule */
}

.response .text {
    background-color: #cde4ff !important;
}
      
@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
}

.text-small {
    font-size: 12px;
}

.text-medium {
    font-size: 18px;
}

.text-large {
    font-size: 24px;
}

.text-center {
    text-align: center;
}

.title-small {
    font-size: 32px;
}

.title-medium {
    font-size: 42px;
}

.title-large {
    font-size: 48px;
}

.padding-20-0 {
    padding: 20px 0;
}

.white {
    color: white;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="card-item"] {
      width: 80vw;
    }

    [class*="card-container"] {
        row-gap: 80px;
    }

    .nav-btn {
        display: none;
    }

    .nav-bar {
        display: block !important;
    }

    .flex-item-right, .flex-item-left {
        flex: 100%;
    }

    #intro-right {
        display: none
    }

    .title-banner {
        font-size: 20pt;
    }
    
    .text-banner {
        font-size: 14pt;
    }

    .bot-banner {
        height: 96px;
    }

    .footer-title {
        font-size: 26px;
    }
    
  }