{% for field in form %}
    <div class="fieldWrapper flex flex-column">
        {{ field.errors }}
        <div class="flex flex-center">
            {{ field.label_tag }}
        </div>
        <div class="spacer-16"></div>
        {% if field.html_name == 'model' %}
            <div class="flex jeven">
                {% for key, value in field.field.choices %}
                <label class="rad-label" for="{{ key }}">
                    <input type="radio" class="rad-input" name="model" id="{{ key }}" value="{{ key }}">
                    <div class="rad-design"></div>
                    <div class="rad-text">{{ value }}</div>
                </label>
            {% endfor %}
            </div>
        {% else %}
            <div class="flex flex-center">
                {{ field }}
            </div>
        {% endif %}
        <div class="spacer-16"></div>
    </div>
{% endfor %}