{% extends 'modeler/master.html' %}
{% load static %}
{% block head %}

    <link rel="stylesheet" href="{% static 'modeler/profile.css' %}">

{% endblock %}

{% block content %}
        
    <div class="grid profile-grid">
        <div class="flex flex-column" id="profile-left">
            <div class="flex flex-column acenter" id="user-main">
                <div class="user-avatar" style="background-color: antiquewhite;"></div>
                <div class="spacer-16"></div>
                <span class="bold" id="user-name">{{user}}</span>
                <span>{{user.email}}</span>
            </div>
            <div class="profile-tabs">
                <!--a href="{% url 'modeler:profile_general' %}" class="profile-tab tab {{active.general}}">General information</a-->
                <a href="{% url 'modeler:profile_settings' %}" class="profile-tab tab {{active.settings}}">User information</a>
                <a href="{% url 'modeler:profile_diagrams' %}" class="profile-tab tab {{active.diagrams}}">Diagrams</a>
                <a href="{% url 'modeler:profile_tokens' %}" class="profile-tab tab {{active.tokens}}">Tokens</a>
            </div>
        </div>

        {% block profile %}{% endblock %}

{% endblock %}