{% extends 'modeler/profile/index.html' %}
{% load static %}

{% block profile %}
        
    <div id="tokens" class="profile-tab-content tab-content">
        <h3>Tokens</h3>
        {% for token in tokens %}
        <div class="card mb-3">
            <div class="card-header">
                {{ token.llm }}
            </div>
            <div class="card-body">
                <form action="{% url 'modeler:token' token %}" method="post">
                    {% csrf_token %}
                    <input type="password" name="value" value="{{ token }}" class="form-control token-value mb-3" data-token-value="{{token.pk}}" disabled/>
                </form>
                <button class="btn btn-primary edit" data-token-btn="{{token.pk}}">Edit</button>
            </div>
            <div class="card-footer text-body-secondary">
            Do not share this API token to anyone
            </div>
        </div>
        {% endfor %}
    </div>

    <script>
    let titles, buttons;

        function submitForm(form, id) {
            const url = window.location.origin + '/modeler/token/' + id + '/edit';
            var formData = new FormData(form);
            const request = new Request(
                url,
                {
                    method: 'POST',
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                    },
                    body: formData,
                }
            );
            fetch(request)
                .then(async (response) => {
                    if (response.ok) {
                        console.log('Exito');
                    }else{
                        console.log('error');
                    }
                })
        }

        function addBlurEvent(elem){

            const form = elem.parentNode;

            form.addEventListener('submit', (event) => {
                event.preventDefault();
            })

            elem.addEventListener("blur", (event) => {
                submitForm(form, elem.getAttribute('data-token-value'));
                elem.disabled = true;
            });

            elem.addEventListener("keypress", (event) => {
                if (event.key === "Enter") {
                    elem.blur();
                }
            });
        }

        document.addEventListener("DOMContentLoaded", () => {
            buttons = document.getElementsByClassName("edit");
            titles = document.getElementsByClassName('token-value');

            Array.prototype.forEach.call(titles, function(elem) {
                addBlurEvent(elem);
            });

            Array.prototype.forEach.call(buttons, function(elem) {
                elem.addEventListener("click", () => {
                    let title = document.querySelector('[data-token-value="' + elem.getAttribute('data-token-btn') + '"]');
                    title.disabled = false;
                    title.select();
                    title.focus();
                });
            });
        });

    </script>

{% endblock %}